<div class="headerDiv col-sm-12"></div>
<div class="container-fluid parentDiv">
   <div class="row">
      <div class="nav-bar col-sm-2">
         <div class="logo col-sm-12"><img class="img-responsive logoImg" src="assets/img/jp-logo.png"></div>
         <ul class="menu-bar col-sm-12">
            <a>
               <li class="col-sm-12 liDiv btn btn-sm animated-button active gibson-three" id="homeLi" (click)="openDiv('homeDiv','homeLi')" style="border-top:1px solid #65b37a;">
                  <i id="homeLiI" class="fa fa-home" style="font-size:23px;" style="color:#B0914F;"></i>
                  <p id="homeLiP" class="menu-text" style="color:#B0914F;font-style:italic;">HOME</p>
               </li>
            </a>
            <a>
               <li class="col-sm-12 liDiv btn btn-sm animated-button gibson-three" id="aboutLi" (click)="openDiv('aboutDiv','aboutLi')">
                  <i id="aboutLiI" class="fa fa-user" aria-hidden="true" style="font-size:23px;"></i>
                  <p id="aboutLiP" class="menu-text">ABOUT</p>
               </li>
            </a>
            <a>
               <li class="col-sm-12 liDiv btn btn-sm animated-button gibson-three" id="worksLi" (click)="openDiv('worksDiv', 'worksLi')">
                  <i id="worksLiI" class="fa fa-code" style="font-size:23px;"></i>
                  <p id="worksLiP" class="menu-text">WORKS</p>
               </li>
            </a>
            <a>
               <li class="col-sm-12 liDiv btn btn-sm animated-button gibson-three" id="blogsLi" (click)="openDiv('blogsDiv','blogsLi')">
                  <i id="blogsLiI" class="fa fa-newspaper-o" aria-hidden="true" style="font-size:23px;"></i>
                  <p id="blogsLiP" class="menu-text">BLOGS</p>
               </li>
            </a>
            <a>
               <li class="col-sm-12 liDiv btn btn-sm animated-button gibson-three" id="contactLi" (click)="openDiv('contactDiv', 'contactLi')">
                  <i id="contactLiI" class="fa fa-envelope" aria-hidden="true" style="font-size:23px;"></i>
                  <p id="contactLiP" class="menu-text">CONTACT</p>
               </li>
               <li class="col-sm-12 btn btn-sm animated-button gibson-three">
                  <i id="contactLiI" class="fa" aria-hidden="true" style="font-size:23px;"></i>
                  <p id="contactLiP" class="menu-text"></p>
               </li>
            </a>
         </ul>
      </div>
      <div class="col-sm-9">
         <div id="homeDiv" class="childDiv col-sm-12">
            <!-- <div class="col-sm-1"></div> -->
            <div class="profile-card  row col-sm-12">
               <!-- <div class=" row col-sm-12"> -->
               <div class="col-sm-6 profile-details">
                  <div class="nameDiv">Jyoti Prakash Das</div>
                  <!-- <div class="roleDiv" id="roleIs" style="position: absolute;"> -->
                  <!-- <span typingAnimation [typeSpeed]="30" [startDelay]="1000" (complete)="onTypeComplete()">
                     Software Developer
                     </span> -->
                  <!-- {{typewriter_display }} -->
                  <!-- </div> -->
                  <span class="typed-element"></span>  
                  <div class="social-handles row">
                     <div class="row col-sm-12" style="margin-top: 10%;">
                        <div class="col-sm-2 faCls" (click)="openRefAcnt('LN')">
                           <i class="fa fa-linkedin"></i>
                        </div>
                        <div class="col-sm-2 faCls" (click)="openRefAcnt('SO')">
                           <i class="fa fa-stack-overflow"></i>
                        </div>
                        <div class="col-sm-2 faCls" (click)="openRefAcnt('GH')">
                           <i class="fa fa-github"></i>
                        </div>
                        <div class="col-sm-2 faCls" (click)="openRefAcnt('FB')">
                           <i class="fa fa-facebook"></i>
                        </div>
                        <div class="col-sm-2 faCls" (click)="openRefAcnt('IG')">
                           <i class="fa fa-instagram"></i>
                        </div>
                     </div>
                  </div>
                  <input type="button" value="Download Resume" class="btn form-control dwnldBtn" (click)="downloadResume()">
               </div>
               <div class="col-sm-6 imgDiv">
                  <img class="img-responsive proImg" src="assets/img/jp_profile.jpg">
               </div>
               <!-- </div> -->
            </div>
            <!-- <div class="col-sm-1"></div> -->
         </div>
         <div id="aboutDiv" class="childDiv col-sm-12" style="display:none;margin-left: 3%;">
            <div class="about-details">
               <div class="about-selector row col-sm-12">
                  <div class="row col-sm-4 aboutmeBtnDiv btnCss" id="aboutmeBtnDiv" (click)="openAboutDiv('aboutmeDiv', 'aboutmeBtnDiv')">
                     <i class="fa fa-user col-sm-12" aria-hidden="true" style="color:#B0914F;font-size:23px;border-top: 1px solid #B0914F;padding-top:2%;" id="aboutmeBtnDivI"></i>
                     <p class="menu-text col-sm-12" id="aboutmeBtnDivP" style="color:#B0914F;font-style:italic;cursor:pointer;">About Me</p>
                  </div>
                  <div class="row col-sm-4 profileBtnDiv btnCss" id="profileBtnDiv" (click)="openAboutDiv('myProfileDiv', 'profileBtnDiv')">
                     <i class="fa fa-star-o col-sm-12" aria-hidden="true" style="font-size: 22px;border-top: 1px solid #0C0C0C;padding-top:2%;" id="profileBtnDivI"></i>
                     <p class="menu-text col-sm-12" id="profileBtnDivP" style="cursor:pointer;">Profile</p>
                  </div>
                  <div class="row col-sm-4 skillsBtnDiv btnCss" id="skillsBtnDiv" (click)="openAboutDiv('skillsDiv','skillsBtnDiv')">
                     <i class="fa fa-magic col-sm-12" id="skillsBtnDivI" aria-hidden="true" style="font-size:23px;border-top: 1px solid #0C0C0C;padding-top:2%;"></i>
                     <p class="menu-text col-sm-12" id="skillsBtnDivP" style="cursor:pointer;">Skills</p>
                  </div>
               </div>
               <div class="about-card  row col-sm-12">
                  <div class="row col-sm-12 aboutme" id="aboutmeDiv">
                     <div class="aboutDets">
                        <blockquote class="blckQts">
                           Hi! I'm Jyoti Prakash Das, 24 years young Developer, from Bangalore. <br/><br/>
                           I’m a multi-disciplinary web developer who’s delivered creative and engaging elucidations across brand identity,
                           web application, API, and back end development.<br/><br/>
                           Over 1.5 years of Web Development experience, with proven background successfully managing all facets of site
                           development, from initial design and architecture to back end development, middle ware integration , site
                           deployment and client management.
                        </blockquote>
                     </div>
                  </div>
                  <div class="row col-sm-12 profile" id="myProfileDiv" style="display:none">
                     <div class="myProfileDets">
                        <ul class="timeline">
                           <li>
                              <div class="timeline-badge" style="background:aquamarine;"><i class="fa fa-check" style="color: dodgerblue;"></i></div>
                              <div class="timeline-panel">
                                 <div class="timeline-heading">
                                    <h3 class="timeline-title">Software Engineer</h3>
                                    <h4 class="timeline-title">Terralogic Inc.</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Present - Nov,17</small></p>
                                 </div>
                                 <div class="timeline-body">
                                    <p>
                                        Onboarded with a urge to learn more, @Terralogic, I was responsible for Developing Yatragenie Inc. webapp from scratch with a team of 5. With lot of responsiblities and passion for learning more each and everyday, I learned more and more and worked on diffrent 
                                        phases of software development. Worked on several other projects and freelance projects. Being proffesionally strong in Angular 2+, JavaScript, Java Spring Boot, Python, Django, CSS3 and Multi-tasking.
                                    </p>
                                 </div>
                              </div>
                           </li>
                           <li class="timeline-inverted">
                              <div class="timeline-badge"><i class="fa fa-check"></i></div>
                              <div class="timeline-panel">
                                 <div class="timeline-heading">
                                    <h3 class="timeline-title">Intern</h3>
                                    <h4 class="timeline-title">Terralogic Inc.</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Nov, 17 - Aug,17</small></p>
                                 </div>
                                 <div class="timeline-body">
                                   <p>As an Intern, I learnt the diffrent phases of Software Engineering and Worked on Pythona and Networking. I was introduced to Web development here, and soon I realised that, Web Developement is 'FUN' and that's whare I want to proceed my career into.
                                      Created Coupple of Internal Apps and played with Flask (Python Micro-framework). Twerked couple of code or two , built something and breaked many things, and experienced how it feels to create something outta no where.  </p>
                                 </div>
                              </div>
                           </li>
                           <li>
                                <div class="timeline-badge" ><i class="fa fa-check"></i></div>
                                <div class="timeline-panel">
                                   <div class="timeline-heading">
                                      <h3 class="timeline-title">B. Tech In Computer Science</h3>
                                      <h4 class="timeline-title">Govt. College of Engineering, Kalahandi</h4>
                                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Jun, 17 - Aug, 13</small></p>
                                   </div>
                                   <div class="timeline-body">
                                      
                                   </div>
                                </div>
                             </li>
                             <li class="timeline-inverted">
                                <div class="timeline-badge"><i class="fa fa-check"></i></div>
                                <div class="timeline-panel">
                                   <div class="timeline-heading">
                                      <h3 class="timeline-title">Higher Secondary</h3>
                                      <h4 class="timeline-title">DAV Public School, NTPC , Talcher</h4>
                                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Mar, 13 - Mar, 11</small></p>
                                   </div>
                                   <div class="timeline-body">
                                    
                                   </div>
                                </div>
                             </li>
                        </ul>
                     </div>
                  </div>
                  <div class="row col-sm-12 skills" id="skillsDiv" style="display:none">
                     <div class="skillsDets">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="worksDiv" class="childDiv" style="display:none">
            works div
         </div>
         <div id="blogsDiv" class="childDiv" style="display:none">
            blogs div
         </div>
         <div id="contactDiv" class="childDiv" style="display:none">
            contact div
         </div>
      </div>
   </div>
</div>