.parentDiv{
    background:#0C0C0C;
    height: 547px;
}

.headerDiv{
    height: 50px;
    background: #000000;
}
.nav-bar{
    /* margin-top: 2%; */
    background: black;
    border-right: 1px solid #65b37a;
    
}
.menu-bar{ 
    list-style-type: none;
    /* height: 100%; */
    margin-top: 6%;
    /* position: fixed; */
}
.fa {
      color:#CCCCCC;
      cursor:pointer;
}
.menu-text{
    color:#CCCCCC;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;

}

.liDiv{
    text-align: center; 
    border-bottom: 1px solid #65b37a;
    padding-top: 10%;
}
.liDiv:hover{
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 2px 2px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 2px 2px #ccc;
    border-radius: 3px;
}

.logo{
    text-align: center;
    color: #fff;
    margin-left: 2%;
    margin-top: 5%;
}
.social-handles{
    text-align: center;
    margin-bottom: 10%;
    margin-top:2%;
    text-align: left;
    font-size: 23px;
}
.childDiv{
    height: 91%;
    /* background: pink; */
}
.profile-details{
    color:#CCCCCC;
    padding-top: 13%;
}
.proImg{
    width:80%;
    margin-top: 5%;
}

.dwnldBtn{
    background-color: #b0914f;
    box-shadow: -3px 2px 6px #CCCCCC;
    margin-top: 5%;
    width: 55%;
    color: #fff;
    padding: 10px 34px;
    font-size: 15px;
    letter-spacing: 1.4px;
    border-radius: 5px;
}
.dwnldBtn:hover{
    box-shadow: none;
}
.nameDiv{
    font-weight: 600;
    font-size: 35px;
}
.roleDiv{
    font-size: 20px;
}
.fa-instagram:hover, .fa-facebook:hover, .fa-github:hover, .fa-linkedin:hover , .fa-stack-overflow:hover{
    transition: 0.9s;
    transform: rotateY(360deg);
    font-size:30px;
    color:cadetblue;
}

.css-typing p:nth-child(1) {
    width: 7.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

.logoImg{
    width:22%;
}
.about-card{

}

.about-details{
    margin-top: 5.5%;

}
.btnCss{
    text-align: center;
    cursor: pointer;
}
.blckQts{
    margin-top: 2%;
    color:#CCCCCC;
    font-size: 20px;
}

.myProfileDets{
    max-height: 400px;
    overflow-y: scroll;
}

/* timeline css */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    width: 93%;
}
.timeline-body p{
    color:#CCCCCC;

}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: #CCCCCC;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

/* timeline css */

/* scroll css */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey; 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b0914f; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b0914f; 
  }
/* scroll css */






